@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* inicio nav */
.logo_jogames {
    width: 25vh;
    height: 30vh;
}

.a_navbar {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.a_navbar:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #23232e;
    height: 8vh;
    z-index: 1000000;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.nav-list.active {
    transform: translateX(0);
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
   opacity: 0; 
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}
/* fim nav */
body {
    background-color: #131313;
    color: rgb(246, 255, 255);
    font-weight: 500;
    overflow-x: hidden;
   
}



main {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:  10rem 0 -30rem 0 ;
}

main h1 {
    color: #8880FE;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

main.social-media {
    display: flex;
    align-content: center;
}

main .social-media a {
    text-decoration: none;
}

main .social-media img {
    width: 36px;
    margin-left: 3rem;
}

main .social-media a:first-child img {
    margin-left: 0;
}

main .alternativo {
    margin-top: 1rem;
}

main .alternativo span {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
    position: relative;
}

main .alternativo span::before, main .alternativo span::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    bottom: 50%;
    right: 50px;
    background: rgba(255, 255, 255, 0.3);
}

main .alternativo span::after {
    left: 50px;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 200;
}

main form label {
    display: flex;
    flex-direction: column;
}

main form label span {
    font-size: 1.1rem;
    margin-top: 2rem;
}

main form input {
    background: #161923;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: rgb(255, 250, 250);
    font-size: 1rem;
    border: 1px solid #040B18;
    border-radius: 8px;
}

main form input[type="submit"] {
    cursor: pointer;
    width: 50%;
    margin-top: 4rem;
    border: none;
    border-radius: 32px;
    background: #6C63FF;
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
}

main form input[type="submit"]:hover {
    background: #5952d4;
}

section.images {
    width: 70vw;
    margin: -40rem 0 0 80rem;
    
}

section.images img {
    width: 40%;
    margin: 7rem 0 0 55rem;
    
}

section.images .circle {
    position: absolute; 
    height: 110%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #f8f4f2, #082ac0);
    clip-path: circle(40% at right 80%);
    z-index: -1;
    /* margin-top: 20rem;  */
     
}

/* inicio footer */
footer{
    
    margin-top: 33rem;
    width: 100%;
    background-color: #415aca;
    padding: 50px;
 }
 
 .container-footer{
     max-width: 1400px;
     padding: 0 4%;
     margin: auto;
 }
 
 .row-footer{
     display: flex;
     flex-wrap: wrap;
 }
 
 .footer-col{
     width: 25%;
     padding: 0 15px;
 }
 .footer-col h4{
     font-size: 22px;
     color: white;
     margin-bottom: 20px;
     font-weight: 500;
     position: relative;
     text-transform: uppercase;
 }
 
 .footer-col ul{
     list-style: none;    
 }
 
 .footer-col ul li{
     margin-top: 10px 0;
 }
 
 .footer-col ul li a{
     font-size: 16px;
     text-transform: capitalize;
     color: white;
     text-decoration: none;
     font-weight: 300;
     display: block;
     transition: all 0.3s ease;
 }
 
 .footer-col ul li a:hover{
     color: #cecdce;
     padding-left: 10px;
 }
 /* fim footer */

/* início página planos */

/* fim página planos */
@media only screen and (max-width: 1700px) {
    .nav-list{
        position: absolute;
        z-index: 1;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }

    section.images {
        width: 70vw;
        margin: -40rem 0 0 55rem;
        
    }
    
    section.images img {
        width: 40%;
        margin: 3rem 0 0 55rem;
        
    }
    
    footer {
        margin: 32em 0 0 0;
        
    }
}

@media only screen and (max-width: 1440px) {
    .nav-list{
        position: absolute;
        z-index: 1;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }

    section.images {
        width: 70vw;
        margin: -20rem 0 0 30rem;
        
    }
    
    section.images img {
        width: 40%;
        margin: 10rem 0 0 55rem;
        
    }
    
    section.images .circle {
        position: absolute; 
        height: 110%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(45deg, #f8f4f2, #082ac0);
        clip-path: circle(40% at right 80%);
        z-index: -1;
        margin-top: 10rem; 
         
    }

    form {
        z-index: 200;
    }

    footer {
        margin: 20em 0 0 0;
        
    }
}


@media only screen and (min-width: 900px) and (max-width: 1200px) {
    section.images img {
        width: 110%;
    }

    section.images .circle {
        clip-path: circle(35% at right 80%);
    }

    
    .nav-list{
        position: absolute;
        z-index: 1;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }

}

@media only screen and (max-width: 900px) {
    section.images {
        display: none;
        visibility: hidden;
    }

    main {
        width: 100vw;
    }

   
    .nav-list{
        position: absolute;
        z-index: 1;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
}

@media only screen and (max-width: 450px) {
    main h1 {
        font-size: 2rem;
    }

    main .alternativo span {
        font-size: 0.8rem;
    }

    main form label span, main form input[type="submit"] {
        font-size: 1rem;
    }

    
    .nav-list{
        position: absolute;
        z-index: 1;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
}

.cadastre {
    text-decoration: none;
    color: white ;
    
}

.inscreva {
    width: 5px;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
} 